*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --light-orange: #f2d0a9ff;
  --almond: #f1e3d3ff;
  --crimson: #dc143cff;

  /* General */
  --dark-base: #222;
  --lighter-dark: #333;
  --gray: #858585;
  --light-gray: #d2d2d2;
  --light-white: #f1f1f1;

  /* Active */
  --active-almond: #feecd7;
  --active-light-white: #dedede;
  --active-crimson: #c51337;

  /* Fonts */
  --base-font: Raleway, sans-serif;
  --accent-font: Nunito sans, sans-serif;

  /* Font-size */

  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-40: 2.5rem;
  --fs-42: 2.625rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;

  /* shadows */
  --light-solid-shadow: 0 2px 0px #111111cc;
  --solid-shadow: 0 2px 0px #111;
  --shadow-sm: 0 2px 4px rgba(17, 17, 17, 0.502);
  --drop-shadow: 1px 1px 0px #1111114d;

  /* gradients */
  --striped-pinky: repeating-linear-gradient(
      135deg,
      rgba(106, 100, 100, 0.1) 0px,
      rgba(106, 100, 100, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to right, #f3cdcd, #f4e0bb);
  --light-orange-pinky: linear-gradient(to left, #fcd4d4, #f8d9a0);
  --dark-right: linear-gradient(to bottom right, #252525, #383838);
  --dark-left: linear-gradient(to bottom left, #252525, #383838);
  --radial-white-beige: radial-gradient(#f1f1f1, #f5f5dc);

  /* borders */
  --light-dark-border: 1px solid var(--lighter-dark);
  --dark-thick-border: 2px solid var(--lighter-dark);
}
body {
  font-family: Raleway, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: Nunito sans, sans-serif;
}
button {
  cursor: pointer;
}
/* ----------------- header ------------- */
header {
  text-transform: uppercase;
}
nav {
  display: flex;
  background-color: #f2d0a9ff;
  justify-content: center;
  padding: 10px 0;
}
nav a {
  text-decoration: none;
  color: #222;
  margin-right: var(--fs-16);
  font-weight: 600;
}
nav a:hover {
  color: #af6767;
}
.heros-section {
  background: url("./ressources/hero-background-semi-dark.jpg") center/cover;
  object-fit: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  color: #f1f1f1;
  font-size: 4.5rem;
  filter: drop-shadow(1px 1px 0px #1111114d) drop-shadow(1px 5px 0px #111111bd);
}
.children-button button {
  padding: 10px 15px;
  border-radius: 50px;
  min-width: 150px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  filter: drop-shadow(1px 1px 0px #1111114d) drop-shadow(1px 3px 0px #111111bd);
}
.children-button button:nth-of-type(1):hover {
  background-color: #dc143cff;
  color: #f1f1f1;
}
button img {
  width: 20px;
  background: none;
  padding-left: 5px;
}
.children-button button:nth-of-type(2) {
  background-color: #dc143cff;
  color: #f1f1f1;
}
.children-button button:nth-of-type(2):hover {
  background-color: #f0f0f0;
  color: #222;
}

@media screen and (max-width: 600px) {
  nav {
    font-size: var(--fs-14);
  }
  h1 {
    font-size: var(--fs-40);
  }
  .heros-section {
    height: 650px;
    text-align: center;
  }
}

/* ---------------- section 1 ------------------ */

#section1 {
  background: linear-gradient(to right, #f3cdcd, #f4e0bb),
    linear-gradient(to left, #fcd4d4, #f8d9a0);
  width: 100%;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #f1e3d3ff;
  transform: translateY(-100px);
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: var(--shadow-sm);
}
.top {
  text-align: center;
  margin: 1rem;
}
.top p {
  color: var(--gray);
}
h2 {
  font-size: var(--fs-42);
}
article {
  width: 80%;
  margin: 1.8rem auto;
  display: flex;
  background-color: var(--lighter-dark);
  color: var(--active-light-white);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--shadow-sm);
}
article img {
  width: 50%;
  object-fit: cover;
}
.bloc {
  width: 40%;
  margin: 0 auto;
  line-height: 23px;
  position: relative;
}
article h3,
p {
  margin-bottom: var(--fs-20);
}
.bloc button {
  position: absolute;
  bottom: 0;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #f1f1f1;
}
.bloc button:hover {
  background-color: var(--light-orange);
  color: var(--dark-base);
}

@media screen and (max-width: 600px) {
  article {
    flex-direction: column;
    padding: var(--fs-16);
    margin: 16px auto;
  }
  article img {
    width: 100%;
    object-fit: cover;
    padding: 10px;
  }
  .bloc {
    width: 90%;
  }
  .bloc button {
    padding: 10px 15px;
  }
  article h3,
  article p {
    margin-top: var(--fs-20);
  }
}
/* -------------------- bandeau --------------- */

.bandeau {
  background: center/ cover url("./ressources/parallax-large-flou.jpg");
  height: 200px;
  color: var(--active-light-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
.bandeau p {
  font-size: var(--fs-40);
  font-weight: 900;
  margin-bottom: 0;
}
.bandeau h3 {
  font-size: var(--fs-24);
}
@media screen and (max-width: 600px) {
  .bandeau p {
    font-size: var(--fs-26);
  }
}
/* ----------- Tarifs section ------------ */

.tarifs {
  background: var(--radial-white-beige);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-tarifs {
  max-width: 1100px;
  margin: 0 auto;
}
.titles-tarifs {
  text-align: center;
}
.titles-tarifs p {
  margin-bottom: 0;
  color: var(--gray);
  font-size: var(--fs-20);
}
.cartes-tarifs {
  display: flex;
  justify-content: center;
  margin-top: var(--fs-72);
}
.carte {
  background-color: var(--light-orange);
  border: 2px solid black;
  padding: var(--fs-20);
  width: 275px;
  min-height: 400px;
  position: relative;
  border-radius: 5px;
}
.carte img {
  width: 20px;
  margin-right: 10px;
}
.carte li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.carte button {
  position: absolute;
  bottom: 10%;
  display: inline-block;
  padding: 10px 15px;
  border: 2px solid #111;
  cursor: pointer;
  width: 90%;
}
.carte button:hover {
  background-color: var(--dark-base);
  color: var(--active-light-white);
}
.basique {
  transform: translateY(10px) rotate(-15deg);
  z-index: 1;
}
.incroyable {
  transform: translateY(-18px) rotate(-1deg);
  z-index: 2;
}
.fun {
  transform: translateY(10px) rotate(15deg);
  z-index: 1;
}
#shadow {
  display: block;
  margin: 0 auto;
  max-width: 1100px;
  object-fit: cover;
}

@media screen and (max-width: 955px) {
  .tarifs {
    height: auto;
  }
  .titles-tarifs p {
    margin-top: var(--fs-20);
  }
  .cartes-tarifs {
    align-items: center;
    flex-direction: column;
    margin-top: var(--fs-40);
  }
  .basique,
  .incroyable,
  .fun {
    transform: translateY(0) rotate(0);
    z-index: 0;
    margin-bottom: var(--fs-18);
  }
  #shadow {
    display: none;
  }
}
/* ------------ section formulaire --------------- */

.form {
  background: url(./ressources/tradition-japan.jpg) center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulaire {
  max-width: 800px;
  background: var(--striped-pinky);
  padding: var(--fs-40);
  border: 1px solid #111;
  border-radius: 20px;
}
.container-form {
  width: 80%;
  margin: 0 auto;
}
.formulaire p {
  color: var(--gray);
  text-align: center;
  margin-bottom: 0;
}
.formulaire h3 {
  font-size: var(--fs-40);
  text-align: center;
  margin-bottom: var(--fs-22);
}
.boxe {
  height: 50px;
  width: 80%;
  background: var(--light-orange);
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 30px auto;
}
.boxe img {
  width: 20px;
}
.boxe a {
  color: var(--dark-base);
  font-weight: bold;
}
.boxe a:hover {
  /* color: #f3cdcd; */
  color: rgb(175, 105, 48);
}
@media screen and (max-width: 600px) {
  .boxe {
    width: 100%;
  }
  .formulaire {
    padding: var(--fs-12);
  }
  .container-form {
    width: 100%;
  }
  .formulaire h3 {
    font-size: var(--fs-26);
  }
}
/* ------------- footer ------------- */
footer {
  width: 100%;
  text-align: center;
  text-decoration: underline;
  background-color: var(--light-orange);
  font-weight: bold;
}
footer p {
  margin-bottom: 0;
  padding: 10px;
}
